.test-content {
  max-width: 970px;
  width: 100%;
  margin: 0 auto;

  &__breadcrumbs {
    margin-top: 25px;

    &__link {
      color: #a8b2b6;
      text-decoration: none;
      text-transform: uppercase;
      font-size: .75rem;



    }
  }
  &__title {
    color: #333;
    line-height: 1.166666667;
    font-size: 2.25rem;
    font-weight: 500;
    margin: 20px 0;
  }
  &__description {
    color: #666;
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 20px;
    display: block;

  }
  &__author {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;

    &__authorWrap {
      display: flex;
      align-items: center;


      &__thumb {
        height: 50px;
        width: 50px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        background-image: url("https://www.usnews.com/dims4/USNEWS/12d8796/2147483647/thumbnail/84x84/quality/85/?url=http%3A%2F%2Fmedia.beam.usnews.com%2Fa4%2F28%2F90ded8a349e8a7cc3768c5e269a1%2Fkathleen-garvin.jpg");
        margin-right: 15px;
      }
      &__text {
        display: block;
        font-size: 80%;

        &__caption {
          color: #666;
        }
        &__link {
          text-decoration: none;
          color: #2c7ef0;

          &:hover {
            color: #1552a8;
          }
        }
      }
    }
    &__socials {
      height: 30px;
      width: 120px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      background-image: url("../img/socials.png");
      display: block;
    }
  }
  &__columns {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

    &__column1 {
      max-width: 635px;
      width: 100%;

      &__carouselWrap {
        margin-bottom: 20px;

        &__carousel {


          &__pic {
            display: block;
            height: 425px;
            width: 636px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;

            &._1 {
              background-image: url("https://cdn.gobankingrates.com/wp-content/uploads/2015/06/retire_at_50.jpg");
            }
            &._2 {
              background-image: url("https://thumbor.forbes.com/thumbor/960x0/smart/https%3A%2F%2Fimages.forbes.com%2Fmedia%2F2011%2F02%2F11%2F0211_retire-seniors-bike_485x340.jpg");
            }
            &._3 {
              background-image: url("http://si.wsj.net/public/resources/images/BN-OV886_retire_P_20160711134233.jpg");
            }
            &._4 {
              background-image: url("http://blog.homeaway.co.uk/wp-content/uploads/2014/05/Travel-broadens-the-mind.jpg");
            }
            &._5 {
              background-image: url("http://www.balearic-properties.com/blog/wp-content/uploads/british-retirees-seek-bargain-mallorca-properties.jpg");
            }
          }
        }
      }
      &__description {
        font-size: 85%;
        color: #666;


      }
      &__line {
        border-bottom: 1px solid #dcdfe8;
        margin: 0 0 25px 0;
        padding-top: 25px;

        &._left {
          margin: 30px 0;
        }
        &._right {
          margin: 25px 0;
        }
      }
      &__p {

      }
      &__ad {

      }
    }
    &__column2 {
      max-width: 305px;
      width: 100%;

      &__title {

      }
      &__img {
        height: 202px;
        margin-bottom: 15px;
        width: 303px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        background-image: url("https://www.usnews.com/dims4/USNEWS/f383af0/2147483647/thumbnail/303x202/quality/85/?url=http%3A%2F%2Fmedia.beam.usnews.com%2F78%2F9b%2Fd290a6ff400eb51535e4329f866a%2Fresizes%2F500%2Fseniorshiking.jpg");
      }
      &__sponsored {
        display: flex;
        align-items: center;
        margin-bottom: 15px;

        &__text {
          display: block;
          background-color: #ebebeb;
          color: #333
          height: 17px;
          text-transform: uppercase;
          font-weight: 500;
          font-size: .625rem;
          line-height: 17px;

        }
        &__img {
          height: 40px;

          width: 80px;
          margin-left: 10px;
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          background-image: url("https://www.usnews.com/dims4/USNEWS/892791b/2147483647/resize/230x/quality/85/?url=http%3A%2F%2Fmedia.beam.usnews.com%2Fa0%2Fe7%2Ff3cc680f4598946071e5c4d8b5ff%2F171208-fidelitylogo-advertising.13.17_STD_Null_AUD_RET%20GENE....gif");

        }
      }
      &__h3 {
        font-size: 1.5rem;
        line-height: 32px;


      }
      &__title3 {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 35px;
        margin-bottom: 30px;
      }
      &__articleBlock {
        display: flex
        margin-bottom: 30px;

        &__img {
          height: 84px;

          width: 84px;
          margin: 0;
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          background-image: url("https://www.usnews.com/dims4/USNEWS/961f3fb/2147483647/crop/413x413%2B0%2B0/resize/84x84/quality/85/?url=http%3A%2F%2Fmedia.beam.usnews.com%2F0a%2F51ea4a8bcd21b4f9ec03bdba3cf688%2F42278WideModern_RetirementPlanning_052913.jpg");

        }
        &__text {
          display: block;
          margin-left: 15px;
          font-size: 1.125rem;
          text-rendering: optimizeLegibility;
          font-style: normal;
          font-weight: 400;
          max-width: 207px;
          width: 100%;

        }
      }
    }
  }
}

.slick-prev, .slick-next {
  z-index: 1000;
  width: 100px;
}
.slick-prev::before, .slick-next::before {
  font-size: 40px;
}